@import "./_variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: whitesmoke;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
    background-color: $danger;
    color: $warning;
    border-radius: 2vh;
}

section {
    display: flex;
    gap: 1em;
    flex-wrap: nowrap;
}

article {
    border-radius: 2vh;
    margin: 1em;
    padding: 1em;
    background-color: $danger;
    color: $warning;
    width: auto;
}

fieldset {
    display: flex;
    justify-content: center;
    background-color: $danger;
    color: $warning;
    border-radius: 2vh;
    margin: auto;
    /* permet de centrer le fieldset mais empêche les bordures qu'on retrouve chez les éléments de section*/
    padding: 1em;
}

fieldset input,
textarea {
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2,
legend {
    color: $primary;
}

legend {
    padding-top: 1em;
    text-align: center;
}

h3 {
    color: $success;
    margin-top: 1em;
}

footer {
    text-align: center;
    margin-bottom: 1em;
}


@media (max-width: 800px) {
    body {
        font-size: small;
    }

    header {
        text-align: center;
    }

    section {
        flex-wrap: wrap;
    }

    .col-3 {
        width: 100%;
        /* pour forcer l'affichage sur la totalité de la largeur de la page */
        flex-grow: initial;
        /* pour annuler cette propriété */
        flex-shrink: initial;
        /* pour annuler cette propriété */
        flex-basis: auto;
        /* pour annuler cette propriété */
    }

    .col-6 {
        width: 100%;
        flex-grow: initial;
        flex-shrink: initial;
        flex-basis: auto;
    }

    fieldset {
        flex-wrap: wrap;
    }

}